<app-header></app-header>
<main class="page-offset">
  <div class="contact-container">
    <h2 class="page-title">Get in Touch</h2>

    <div class="contact-card">
      <div class="quick-links">
        <p><strong>Email: </strong> <a href="mailto:anuruthsree213@gmail.com">anuruthsree213@gmail.com</a></p>
        <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/anuruth-sree-venkatachalapathy-ba3950188/"
            target="_blank">linkedin.com/in/anuruthsv</a></p>
        <p><strong>GitHub: </strong> <a href="https://github.com/anuruthsree213"
            target="_blank">github.com/anuruthsv</a></p>
        <!-- <p><strong>Twitter: </strong> <a href="https://twitter.com/yourhandle" target="_blank">@yourhandle</a></p> -->
      </div>
    </div>
  </div>
</main>