/* leave space for 30vh header at top of page */
.page-offset { padding-top: 0; }

.contact-container {
  width: 100%;
  /* max-width: 600px; */
  height: 84vh;
  /* margin: 0 auto; */
  /* padding: 1.5rem; */
  font-family: "Roboto", sans-serif;
  text-align: center;
  /* background: #ffedc7; */
  /* padding: 24px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  /* border: 1px solid #000; */
}

.page-title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  /* margin-bottom: 1.5rem; */
}

.contact-card {
  width: 80%;
  max-width: 500px;
  /* border: 1px solid #000; */
  background: #f9fafb;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 1rem; */
}

.contact-logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

.contact-link{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #000; */
}

.contact-link p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.contact-link a:hover {
  text-decoration: underline;
  color: #000f3d;
}

/* Mobile friendly */
@media (max-width: 768px) {
  .contact-card {
    /* padding: 1.2rem; */
    font-size: 0.5rem;
  }
}
